body {
    width: 100wh;
    height: 150vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

h1 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 4em;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    line-height: 1;
    text-shadow: 0 0 0 #ff5c31, 0.0025em 0.0025em 0 #ff5c31, 0.005em 0.005em 0 #ff5c31, 0.0075em 0.0075em 0 #ff5c31, 0.01em 0.01em 0 #ff5c31, 0.0125em 0.0125em 0 #ff5c31, 0.015em 0.015em 0 #ff5c31, 0.0175em 0.0175em 0 #ff5c31, 0.02em 0.02em 0 #ff5c31, 0.0225em 0.0225em 0 #ff5c31, 0.025em 0.025em 0 #ff5c31, 0.0275em 0.0275em 0 #ff5c31, 0.03em 0.03em 0 #ff5c31, 0.0325em 0.0325em 0 #ff5c31, 0.035em 0.035em 0 #ff5c31, 0.0375em 0.0375em 0 #ff5c31, 0.04em 0.04em 0 #ff5c31, 0.0425em 0.0425em 0 #ff5c31, 0.045em 0.045em 0 #ff5c31, 0.0475em 0.0475em 0 #ff5c31, 0.05em 0.05em 0 #ff5c31, 0.0525em 0.0525em 0 #ff5c31, 0.055em 0.055em 0 #ff5c31, 0.0575em 0.0575em 0 #ff5c31, 0.06em 0.06em 0 #ff5c31, 0.0625em 0.0625em 0 #ff5c31, 0.065em 0.065em 0 #ff5c31, 0.0675em 0.0675em 0 #ff5c31, 0.07em 0.07em 0 #ff5c31, 0.0725em 0.0725em 0 #ff5c31, 0.075em 0.075em 0 #ff5c31, 0.0775em 0.0775em 0 #ff5c31, 0.08em 0.08em 0 #ff5c31, 0.0825em 0.0825em 0 #ff5c31, 0.085em 0.085em 0 #ff5c31, 0.0875em 0.0875em 0 #ff5c31, 0.09em 0.09em 0 #ff5c31, 0.0925em 0.0925em 0 #ff5c31, 0.095em 0.095em 0 #ff5c31, 0.0975em 0.0975em 0 #ff5c31, 0.1em 0.1em 0 #ff5c31;
}

h2,
h6 {
    font-family: 'Open Sans';
}

img {
    width: 70%;
    height: 100%
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 50%;
    height: 70%;
    padding: 0;
    margin: 10px 20px;
    border: solid 10px #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25
}
